.logo{
    position: relative;
    background-color:  rgb(255,166,43);
    height: 100%;
    
}

.logo::before {
    position:absolute;
    top:0;
    left: -70px;
    width:50%;
    height: 120%;
    content : '';
    background-color: rgb(255,166,43);
    z-index: 2;
    
}

.logo::after {
    position:absolute;
    top:0;
    right: -25%;
    width: 80%;
    height: 200%;
    content : '';
    background-color: rgb(255,166,43);
    z-index: -1;
    transform: rotate(74deg);
    
}

.nav-link{
    clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
    width: 100%;
}

@media screen and (max-width:768px){
    .nav-link{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        width: 100%;
    }
}